In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier

In [38]:
data= pd.read_csv("https://raw.githubusercontent.com/dsrscientist/dataset3/main/weatherAUS.csv")
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8420,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
8421,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
8422,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
8423,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
8424,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [39]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [40]:
data.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
8420,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
8421,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
8422,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
8423,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
8424,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [41]:
data.shape

(8425, 23)

In [42]:
data.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [43]:
data.isnull().sum()

Date                0
Location            0
MinTemp            75
MaxTemp            60
Rainfall          240
Evaporation      3512
Sunshine         3994
WindGustDir       991
WindGustSpeed     991
WindDir9am        829
WindDir3pm        308
WindSpeed9am       76
WindSpeed3pm      107
Humidity9am        59
Humidity3pm       102
Pressure9am      1309
Pressure3pm      1312
Cloud9am         2421
Cloud3pm         2455
Temp9am            56
Temp3pm            96
RainToday         240
RainTomorrow      239
dtype: int64

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8425 entries, 0 to 8424
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8425 non-null   object
 1   Location       8425 non-null   object
 2   MinTemp        8350 non-null   float64
 3   MaxTemp        8365 non-null   float64
 4   Rainfall       8185 non-null   float64
 5   Evaporation    4913 non-null   float64
 6   Sunshine       4431 non-null   float64
 7   WindGustDir    7434 non-null   object
 8   WindGustSpeed  7434 non-null   float64
 9   WindDir9am     7596 non-null   object
 10  WindDir3pm     8117 non-null   object
 11  WindSpeed9am   8349 non-null   float64
 12  WindSpeed3pm   8318 non-null   float64
 13  Humidity9am    8366 non-null   float64
 14  Humidity3pm    8323 non-null   float64
 15  Pressure9am    7116 non-null   float64
 16  Pressure3pm    7113 non-null   float64
 17  Cloud9am       6004 non-null   float64
 18  Cloud3pm       5970 non-null   float64
 19  Temp9am        8369 non-null   float64
 20  Temp3pm        8329 non-null   float64
 21  RainToday      8185 non-null   object
 22  RainTomorrow   8186 non-null   object
dtypes: float64(16), object(7)
memory usage: 1.5+ MB

In [45]:
df.describe()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Day
count,3033.000000,3033.000000,3033.000000,3033.000000,3033.000000,3033.000000,3033.000000,3033.000000,3033.000000,3033.000000,...,3033.000000,3033.000000,3033.000000,3033.00000,3033.000000,3033.000000,3033.000000,3033.000000,3033.000000,3033.000000
mean,2.650841,14.063699,25.511705,0.109858,5.615628,8.453116,6.776789,40.718431,6.928454,7.342565,...,1015.170953,3.712826,3.866799,19.42064,24.004121,0.043521,0.166832,2011.314870,6.409825,15.920541
std,1.503650,5.260917,6.048090,0.329115,3.710078,3.626469,4.866892,13.588874,4.763658,4.657783,...,6.325499,2.754636,2.663653,5.55938,5.895886,0.204061,0.372887,1.621538,3.472355,8.825258
min,0.000000,-0.700000,10.800000,0.000000,0.000000,0.000000,0.000000,13.000000,0.000000,0.000000,...,992.000000,0.000000,0.000000,4.50000,9.400000,0.000000,0.000000,2009.000000,1.000000,1.000000
25%,1.000000,10.100000,21.200000,0.000000,3.000000,6.400000,3.000000,31.000000,3.000000,3.000000,...,1010.600000,1.000000,1.000000,15.30000,19.800000,0.000000,0.000000,2010.000000,3.000000,8.000000
50%,3.000000,14.000000,25.100000,0.000000,5.000000,9.500000,7.000000,39.000000,6.000000,8.000000,...,1015.100000,3.000000,4.000000,19.40000,23.600000,0.000000,0.000000,2011.000000,6.000000,16.000000
75%,4.000000,18.100000,29.900000,0.000000,7.400000,11.000000,11.000000,48.000000,12.000000,11.000000,...,1019.300000,7.000000,7.000000,23.70000,28.200000,0.000000,0.000000,2012.000000,9.000000,24.000000
max,5.000000,28.500000,43.600000,1.800000,37.000000,13.900000,15.000000,102.000000,15.000000,15.000000,...,1035.600000,8.000000,8.000000,39.40000,42.400000,1.000000,1.000000,2016.000000,12.000000,31.000000

In [46]:

# Impute missing values
data['Rainfall'].fillna(df['Rainfall'].median(), inplace=True)
data = df.dropna()
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Day,Season
910,2009-03-13,1,18.5,26.9,0.0,3.2,11.0,1,30.0,12,...,2.0,5.0,23.3,26.4,0,0,2009,3,13,Autumn
911,2009-03-14,1,18.2,28.2,0.0,6.8,9.0,5,50.0,6,...,1.0,1.0,24.0,25.9,0,1,2009,3,14,Autumn
913,2009-03-16,1,19.5,24.9,0.8,4.2,2.8,6,31.0,15,...,3.0,7.0,23.4,21.2,0,1,2009,3,16,Autumn
914,2009-03-17,1,16.4,25.2,1.4,1.6,6.7,8,33.0,15,...,6.0,4.0,21.4,23.9,1,0,2009,3,17,Autumn
915,2009-03-18,1,19.7,25.9,0.0,4.4,6.4,12,30.0,12,...,6.0,5.0,21.2,24.6,0,0,2009,3,18,Autumn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8379,2012-11-04,2,25.4,33.3,0.0,4.0,9.1,8,52.0,8,...,6.0,4.0,29.8,32.4,0,0,2012,11,4,Spring
8380,2012-11-05,2,25.8,32.9,0.0,7.6,6.7,3,31.0,3,...,5.0,2.0,30.7,32.0,0,1,2012,11,5,Spring
8382,2012-11-07,2,26.2,33.3,0.0,6.0,5.9,3,54.0,1,...,4.0,8.0,30.2,25.2,0,1,2012,11,7,Spring
8384,2012-11-09,2,25.5,33.1,0.0,4.8,7.1,10,37.0,0,...,7.0,7.0,28.6,31.5,0,0,2012,11,9,Spring
8385,2012-11-10,2,24.9,34.3,0.0,5.6,8.6,3,39.0,1,...,7.0,3.0,29.8,33.2,0,0,2012,11,10,Spring

In [47]:
data.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
Year             0
Month            0
Day              0
Season           0
dtype: int64

In [48]:
# Detect and handle outliers
def handle_outliers(df1, col):
    Q1 = df1[col].quantile(0.25)
    Q3 = df1[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5*IQR
    upper_bound = Q3 + 1.5*IQR
    df1 = df1[(df1[col] > lower_bound) & (df1[col] < upper_bound)]
    return df1

data= handle_outliers(data, 'Rainfall')

In [49]:
# Transform categorical variables
def encode_labels(df1, col):
    le = LabelEncoder()
    df1[col] = le.fit_transform(df1[col])
    return df

df = encode_labels(data, 'Location')
df = encode_labels(data, 'WindGustDir')
df = encode_labels(data, 'WindDir9am')
df  = encode_labels(data, 'WindDir3pm')
df  = encode_labels(data, 'RainToday')
df= encode_labels(data, 'RainTomorrow')

In [50]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Day,Season
910,2009-03-13,1,18.5,26.9,0.0,3.2,11.0,1,30.0,12,...,2.0,5.0,23.3,26.4,0,0,2009,3,13,Autumn
911,2009-03-14,1,18.2,28.2,0.0,6.8,9.0,5,50.0,6,...,1.0,1.0,24.0,25.9,0,1,2009,3,14,Autumn
913,2009-03-16,1,19.5,24.9,0.8,4.2,2.8,6,31.0,15,...,3.0,7.0,23.4,21.2,0,1,2009,3,16,Autumn
914,2009-03-17,1,16.4,25.2,1.4,1.6,6.7,8,33.0,15,...,6.0,4.0,21.4,23.9,1,0,2009,3,17,Autumn
915,2009-03-18,1,19.7,25.9,0.0,4.4,6.4,12,30.0,12,...,6.0,5.0,21.2,24.6,0,0,2009,3,18,Autumn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8379,2012-11-04,2,25.4,33.3,0.0,4.0,9.1,8,52.0,8,...,6.0,4.0,29.8,32.4,0,0,2012,11,4,Spring
8380,2012-11-05,2,25.8,32.9,0.0,7.6,6.7,3,31.0,3,...,5.0,2.0,30.7,32.0,0,1,2012,11,5,Spring
8382,2012-11-07,2,26.2,33.3,0.0,6.0,5.9,3,54.0,1,...,4.0,8.0,30.2,25.2,0,1,2012,11,7,Spring
8384,2012-11-09,2,25.5,33.1,0.0,4.8,7.1,10,37.0,0,...,7.0,7.0,28.6,31.5,0,0,2012,11,9,Spring
8385,2012-11-10,2,24.9,34.3,0.0,5.6,8.6,3,39.0,1,...,7.0,3.0,29.8,33.2,0,0,2012,11,10,Spring

In [72]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

print (data.columns)

print("Data Types:", data.dtypes)

data_classification = data.copy()
data_classification.dropna(subset=['RainTomorrow'], inplace=True)
data_classification.reset_index(drop=True, inplace=True)

numeric_columns = data_classification.select_dtypes(include=['float64']).columns
data_classification = data_classification.drop(['Date', 'Location'], axis=1)

le=LabelEncoder()
data_classification['RainTomorrow'] = le.fit_transform(data_classification['RainTomorrow'])
data_classification['RainToday'] = le.fit_transform(data_classification['RainToday'])
data_classification['WindGustDir'] = le.fit_transform(data_classification['WindGustDir'])
data_classification['WindDir9am'] = le.fit_transform(data_classification['WindDir9am'])
data_classification['WindDir3pm'] = le.fit_transform(data_classification['WindDir3pm'])


X_class = data_classification.drop(['RainTomorrow'], axis=1)
y_class = data_classification['RainTomorrow']
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X_class, y_class, test_size=0.2, random_state=0)


rf_classifier = RandomForestClassifier(n_estimator=100, random_state=0)
rf_classifier.fit(X_train_class, y_train_class)


y_pred_class = rf_classifier.predict(X_test_class)

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow', 'Year', 'Month', 'Day',
       'Season'],
      dtype='object')
Data Types: Date             datetime64[ns]
Location                  int64
MinTemp                 float64
MaxTemp                 float64
Rainfall                float64
Evaporation             float64
Sunshine                float64
WindGustDir               int64
WindGustSpeed           float64
WindDir9am                int64
WindDir3pm                int64
WindSpeed9am            float64
WindSpeed3pm            float64
Humidity9am             float64
Humidity3pm             float64
Pressure9am             float64
Pressure3pm             float64
Cloud9am                float64
Cloud3pm                float64
Temp9am                 float64
Temp3pm                 float64
RainToday                 int64
RainTomorrow              int64
Year                      int64
Month                     int64
Day                       int64
Season                   object
dtype: object

ValueError: With n_samples=0, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [67]:
print(X_train)

           Date  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
5933 2011-06-29         3      4.5     18.4       0.0          1.0       9.1
5608 2010-07-09         3      3.6     16.5       0.0          0.2       9.0
8362 2012-10-18         2     25.4     31.3       0.6          6.8       3.8
5629 2010-07-30         3     12.0     17.7       0.0          1.6       4.7
918  2009-03-21         1     17.9     26.4       0.0          4.2       6.3
...         ...       ...      ...      ...       ...          ...       ...
6433 2011-11-30         0     20.8     29.0       0.0          9.4       7.5
5462 2010-02-13         3     18.2     21.3       0.0          2.8       0.1
5501 2010-03-24         3     15.8     23.4       0.0          4.4       8.4
5766 2010-12-14         3     14.4     28.0       0.0          4.0      13.3
4955 2010-12-14         3     14.4     28.0       0.0          4.0      13.3

      WindGustDir  WindGustSpeed  WindDir9am  ...  Pressure3pm  Cloud9am  \
5933            5           39.0           3  ...       1033.9       0.0
5608            3           41.0           3  ...       1026.2       0.0
8362           12           41.0           3  ...       1010.2       6.0
5629            3           59.0           3  ...       1009.4       7.0
918             8           31.0          12  ...       1015.1       5.0
...           ...            ...         ...  ...          ...       ...
6433            1           26.0           1  ...       1012.6       7.0
5462           11           31.0          11  ...       1010.4       8.0
5501            9           33.0          13  ...       1023.4       7.0
5766            5           31.0          15  ...       1010.7       1.0
4955            5           31.0          15  ...       1010.7       1.0

      Cloud3pm  Temp9am  Temp3pm  RainToday  Year  Month  Day  Season
5933       0.0      6.6     17.9          0  2011      6   29  Winter
5608       3.0      4.5     15.6          0  2010      7    9  Winter
8362       8.0     28.6     30.7          0  2012     10   18  Spring
5629       6.0     13.3     16.9          0  2010      7   30  Winter
918        5.0     22.4     23.9          0  2009      3   21  Autumn
...        ...      ...      ...        ...   ...    ...  ...     ...
6433       4.0     27.4     27.9          0  2011     11   30  Spring
5462       7.0     18.9     20.8          0  2010      2   13  Summer
5501       3.0     17.9     21.5          0  2010      3   24  Autumn
5766       2.0     18.7     25.8          0  2010     12   14  Summer
4955       2.0     18.7     25.8          0  2010     12   14  Summer

[2426 rows x 26 columns]

In [68]:
print(y_test)

4814    0
1291    0
4848    0
7742    0
6947    0
       ..
8315    0
8187    0
1504    1
7069    0
6382    0
Name: RainTomorrow, Length: 607, dtype: int64